@page
@model Pepegov.Identity.PL.Pages.Shared.Close

<div class="row">
    <h1 class="text-center" id="header_text">The operation is completed close the window or it will close itself after 10 seconds</h1>
</div>

<script type="text/javascript">
    
    let counter = 10;
    const intervalId = setInterval(() => {
      document.getElementById("header_text").textContent = "The operation is completed close the window or it will close itself after " + counter + " seconds"; 
      counter--;
    if (counter === -1) {
        window.close();    
        clearInterval(intervalId);
      }
    }, 1000);
    
</script>

